# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Jupyter
.ipynb_checkpoints/

# Dataset & model weights (too large for GitHub)
*.zip
*.tif
lgg-mri-segmentation/
dataset_download/
best_unet_resnet34.pth

# System
.DS_Store
Thumbs.db